.App {
  text-align: center;
}

.heading {
  font-size: 1.8em;
  font-weight: bold;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
} */

.profile-container {
  width: 95%;
  margin: auto;
  border: .2em solid lightgray;
  padding: 1em;

}

.box {
  display: flex;
  gap: 10%;
}

.left {
  width: 35%;
  /* margin-right: 15em; */
}

.right {
  width: 55%;
}

.summary {
  border: .2em solid black;
  padding-left: 1em;
}

.bold-heading {
  font-weight: bold;
  font-size: 1.3em;
}

.plain-content {
  font-weight: normal;
}